* {
  box-sizing: border-box;
  margin: revert;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  width: calc(33.33% - 10px);
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select,
input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.2s ease-in-out;
}

select:focus,
input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

button[type="submit"] {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-weight: bolder;
  font-size:  x-large;
}

#search-results-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.movies-container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.movies-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.movie-item {
  display: flex;
  margin-bottom: 20px;
}

.movie-item img {
  width: 150px;
  height: 200px;
  margin-right: 20px;
}

.movie-info {
  display: flex;
  flex-direction: column;
}

.movie-title {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.movie-year,
.movie-genre,
.movie-rating,
.movie-star {
  font-size: 16px;
  margin: 0;
}
.movie-star {
  font-size: xx-large;
}